:root {
  --color-primario: #bcc7cb;
  --color-secundario: black;
  --color-terciario: rgb(214, 210, 210);
  --color-confeti: pink;
}  


* { /*Cambio universal*/
    padding : 0;
    margin : 0;
}

body {
  background-color: var(--color-primario);
  
  
}

.card-borde {
    display: flex;
    align-items: center;
    justify-content: center;
}

.regalo {
  cursor: pointer;
}

.confetti{
    width:30px;
    height: 30px;
    background:var(--color-confeti);
    border-radius: 50%;
    animation:confetti 5s ease-out infinite;
    position: absolute;
    top:-100px;
  
    left:50%;
    animation-delay: calc(.5s * var(--i));
  }
  
  
  @keyframes confetti {
    0% {
      transform: rotateZ(15deg) rotateY(0deg) translate(0, 0);
    }
    25% {
      transform: rotateZ(5deg) rotateY(360deg) translate(-5vw, 20vh);
    }
    50% {
      transform: rotateZ(15deg) rotateY(720deg) translate(5vw, 60vh);
    }
    75% {
      transform: rotateZ(5deg) rotateY(1080deg) translate(-10vw, 80vh);
    }
    100% {
      transform: rotateZ(15deg) rotateY(1440deg) translate(10vw, 110vh);
    }
  }
  
  .footer {
    color: var(--color-secundario);
    background-color:var(--color-terciario);
    padding: 3px;
    text-align: center;
    font-size: 8px;
    font-weight: 400;
  }